/* Zera as bordas e margens de todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* Estilo geral do corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: rgb(107, 112, 112);

}

/* Seção de apresentação do jogo */
.presentation {
    text-align: center;
    margin-bottom: 30px;
}

.presentation h1 {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.presentation p {
    color: rgb(6, 5, 5);
}

.presentation button {
    border-radius: 5px;
    background-color: green;
    height: 30px;
    height: 30px;
    color: white;
}
/* Estilo para o contêiner dos cards */
.Card-container {
    display: flex;
    justify-content: space-between; /* Distribui os cards igualmente */
    gap: 20px; /* Adiciona espaço entre os cards */
}

/* Estilo individual dos cards */
.Card {
    width: 200px;
    height: 300px;
    background-color: #030202; /* Cor de fundo para os cards */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    color: white;
    font-size: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transform-style: preserve-3d; 
    transition: transform 0.6s; 
}

/* Efeito de virar o card */
.Card.flipped {
    transform: rotateY(180deg); /* Rotaciona o card 180 graus */
}

/* Estilo para as faces do card */
.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Oculta o verso do card quando virado */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    
}

/* Estilo para a frente do card */
.card-face.front {
    background-color: #187aa3; 
}

/* Estilo para o verso do card */
.card-face.back {
    background-color: #4CAF50; /* Cor de fundo do verso */
    transform: rotateY(180deg); /* Vira o verso para que ele fique oculto inicialmente */
}

.card-verso img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

img{
    height: 210px;
    width: 600px;
    border-radius: 5px;
}

